@model ProductListVM
@{
    ViewData["Title"] = "მთავარი გვერდი";
}

<div class="dashboard-wrapper">
    <div class="container-fluid  dashboard-content">
        <!-- ============================================================== -->
        <!-- pagehader  -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h3 class="mb-2 fgnb fsize-24 fbold">მთავარი გვერდი - სამართავი პანელი</h3>
                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb"></ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- pagehader  -->
        <!-- ============================================================== -->
        <div class="row">
            <!-- metric -->
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-muted fgnb fsize-20">მაღაზიები</h5>
                        <div class="metric-value d-inline-block">
                            <h1 class="mb-1 text-primary">32,100</h1>
                        </div>
                        <div class="metric-label d-inline-block float-right text-primary fga">
                            <i class="fa fa-fw fa-sort"></i><span> რაოდენობა</span>
                        </div>
                    </div>
                    <div id="sparkline-1"></div>
                </div>
            </div>
            <!-- /. metric -->
            <!-- metric -->
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-muted fgnb fsize-20">პროდუქტები</h5>
                        <div class="metric-value d-inline-block">
                            <h1 class="mb-1 text-primary">4,200</h1>
                        </div>
                        <div class="metric-label d-inline-block float-right text-primary fga">
                            <i class="fa fa-fw fa-sort"></i><span> რაოდენობა</span>
                        </div>
                    </div>
                    <div id="sparkline-2"></div>
                </div>
            </div>
            <!-- /. metric -->
            <!-- metric -->
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-muted fgnb fsize-20">მარკეტი</h5>
                        <div class="metric-value d-inline-block">
                            <h1 class="mb-1 text-primary">5,567</h1>
                        </div>
                        <div class="metric-label d-inline-block float-right text-primary fga">
                            <i class="fa fa-fw fa-sort"></i><span> რაოდენობა</span>
                        </div>
                    </div>
                    <div id="sparkline-3">
                    </div>
                </div>
            </div>
            <!-- /. metric -->
            <!-- metric -->
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-muted fgnb fsize-20">სუპერმარკეტი</h5>
                        <div class="metric-value d-inline-block">
                            <h1 class="mb-1 text-primary">3,429</h1>
                        </div>
                        <div class="metric-label d-inline-block float-right text-primary fga">
                            <i class="fa fa-fw fa-sort"></i><span> რაოდენობა</span>
                        </div>
                    </div>
                    <div id="sparkline-4"></div>
                </div>
            </div>
            <!-- /. metric -->
        </div>
        <!-- ============================================================== -->
        <div class="row">
            <!-- ============================================================== -->
            <!-- top selling products  -->
            <!-- ============================================================== -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card">
                    <h5 class="card-header fgnb fbold fsize-20">ყველაზე პოპულარული პროდუქტები</h5>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="bg-light">
                                    <tr class="border-0">
                                        <th class="border-0 fga">#</th>
                                        <th class="border-0 fga">ფოტო</th>
                                        <th class="border-0 fga">დასახელება</th>
                                        <th class="border-0 fga">კოდი</th>
                                        <th class="border-0 fga">მწარმოებელი კომპანია</th>
                                        <th class="border-0 fga">იმპორტის თარიღი</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Products)
                                    {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>
                                            @if (item.Image != null)
                                            {
                                                <div class="m-r-10"><img src="@item.Image" alt="user" class="rounded" width="45"></div>
                                            }
                                            else
                                            {
                                                <div class="m-r-10"><img src="../assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                            }
                                        </td>
                                        <td>@item.Name</td>
                                        <td>@item.Code</td>
                                        <td>@item.Brand</td>
                                        <td>@item.ImportDate.ToString("dd.MM.yyyy")</td>
                                    </tr>
                                    }
                                    <tr>
                                        <td colspan="8"><a asp-action="Index" asp-controller="Product" class="btn btn-outline-light float-right fgnb fbold">ყველა პროდუქტი</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end top selling products  -->
            <!-- ============================================================== -->
        </div>
    </div>
</div>